@use "../../styles/mixins.scss" as *;
.fieldWrapper{
  @include styling-content(flex,center,center,column,0);
  
  
}
.labelInput{
  @include styling-content(flex,center,center,row,0)

}
.label{
  font-size: 1.5em;
}
.inputRow{
  padding: 0.25rem 0.5rem;
  border-radius: 10px;
}

.errorText {
  color: red;
  font-size: 0.75em;
}