@use "../../styles/mixins.scss" as *;
.authLayout {
  display: grid;
  grid-template-columns: 8fr 4fr;
  min-height: 100vh;
}

.leftPanel {
  background-image: url('/backgroundImage.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.rightPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}

.formContainer{
  @include styling-content(flex,center,center,column, 2rem)
  

}

